<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog-详情页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/typo.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <link rel="stylesheet" href="../static/lib/prism/prism.css">
    <link rel="stylesheet" href="../static/lib/toc-bot/tocbot.css">
</head>
<body>

    <!--导航-->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attatched segment me-padded-tb-mini">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header" style="padding-top: 0.2em;">Blog</h2>
                <a href="#" class="nav-item item me-mobile-hide"><i class="home icon"></i>首页</a>
                <a href="#" class="nav-item item me-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="nav-item item me-mobile-hide"><i class="tags icon"></i>标签</a>
                <a href="#" class="nav-item item me-mobile-hide"><i class="clone icon"></i>归档</a>
                <a href="#" class="nav-item item me-mobile-hide"><i class="info icon"></i>关于我</a>
                <div class="nav-item right item me-mobile-hide">
                    <div class="ui icon inverted transparentn input">
                        <input type="text" placeholder="Search...">
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top me-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!--中间内容-->
    <div class="m-container-small me-padded-big">

        <div class="ui container">
            <!--header-->
            <div class="ui top attached segment">
                <div class="ui mini horizontal link list">
                    <div class="item">
                        <img src="https://picsum.photos/id/10/100/100" th:src="@{*{blog.user.avatar}}" alt="" class="ui avatar image">
                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickName}">qian</a></div>
                    </div>
                    <div class="item">
                        <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">2021-3-11</span>
                    </div>
                    <div class="item">
                        <i class="eye icon"></i><span th:text="${blog.views}">276</span>
                    </div>
                </div>
            </div>

            <div class="ui attached segment">
                <!--图片信息-->
                <img src="https://picsum.photos/id/10/750/450" th:src="@{${blog.firstPicture}}" alt="" class="ui fluid rounded image">
            </div>

            <div class="ui attached segment">
                <!--内容-->
                <div class="ui right aligned basic segment">
                    <div class="ui orange basic label" th:text="${blog.type.name}">原创</div>
                </div>
                <h2 class="ui center aligned header" th:text="${blog.title}">
                    关于刻意练习的清单
                </h2>
                <div id="content" class="js-toc-content typo typo-selection me-padded-tb">
                    <!--博客主要内容-->
                    <div class="me-padded-lr me-padded-tb" th:utext="${blog.content}">
                        <h3 id="section1">本篇引语</h3>

                        <p>
                            《学而》是《论语》第一篇的篇名。《论语》中各篇一般都是以第一章的前二三个字作为该篇的篇名。《学而》一篇包括16章，内容涉及诸多方面。其中重点是「吾日三省吾身」；「节用而爱人，使民以时」；「礼之用，和为贵」以及仁、孝、信等道德范畴。 </p>

                        <h3 id="section2">原文</h3>
                        <pre><code class="language-css">p {color:red}</code> </pre>
                        <pre><code class="language-css">h1,h2,h3,h4{line-height:1;font-family:Arial;}</code></pre>

                        <p>子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」 </p>

                        <h3 id="section3">译文</h3>

                        <p>孔子说：「学了又时常温习和练习，不是很愉快吗？有志同道合的人从远方来，不是很令人高兴的吗？人家不了解我，我也不怨恨、恼怒，不也是一个有德的君子吗？」 </p>

                        <h3 id="section4">评析</h3>

                        <p>宋代著名学者<u class="typo-u">朱熹</u>对此章评价极高，说它是「入道之门，积德之基」。本章这三句话是人们非常熟悉的。历来的解释都是：学了以后，又时常温习和练习，不也高兴吗等等。三句话，一句一个意思，前后句子也没有什么连贯性。但也有人认为这样解释不符合原义，指出这里的「学」不是指学习，而是指学说或主张；「时」不能解为时常，而是时代或社会的意思，「习」不是温习，而是使用，引申为采用。而且，这三句话不是孤立的，而是前后相互连贯的。这三句的意思是：自己的学说，要是被社会采用了，那就太高兴了；退一步说，要是没有被社会所采用，可是很多朋友赞同<abbr
                                title="张燕婴">我</abbr>的学说，纷纷到我这里来讨论问题，我也感到快乐；再退一步说，即使社会不采用，人们也不理解我，我也不怨恨，这样做，不也就是君子吗？（见《齐鲁学刊》1986年第6期文）这种解释可以自圆其说，而且也有一定的道理，供读者在理解本章内容时参考。
                        </p>

                        <p>此外，在对「人不知，而不愠」一句的解释中，也有人认为，「人不知」的后面没有宾语，人家不知道什么呢？当时因为孔子有说话的特定环境，他不需要说出知道什么，别人就可以理解了，却给后人留下一个谜。有人说，这一句是接上一句说的，从远方来的朋友向我求教，我告诉他，他还不懂，我却不怨恨。这样，「人不知」就是「人家不知道我所讲述的」了。这样的解释似乎有些牵强。</p>

                        <p>总之，本章提出以学习为乐事，做到人不知而不愠，反映出孔子学而不厌、诲人不倦、注重修养、严格要求自己的主张。这些思想主张在《论语》书中多处可见，有助于对第一章内容的深入了解。</p>

                    </div>
                    <!--标签-->
                </div>

                <!--标签-->
                <div class="me-padded-lr" >
                    <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">方法论</div>
                </div>
                <!--赞赏-->
                <div class="ui center aligned basic segment">
                    <button id="payButton" class="ui orange basic circular button">赞赏</button>
                </div>
                <div class="ui payQ flowing popup transition hidden">
                    <div class="ui orange basic label">
                        <div class="ui images" style="font-size: inherit !important;">
                            <div class="image">
                                <img src="../static/images/weChat.jpg" th:src="@{/images/weChat.jpg}" style="width: 120px;" alt="" class="ui rounded boarded image">
                                <div class="center aligned">支付宝</div>
                            </div>
                            <div class="image">
                                <img src="../static/images/weChat.jpg" th:src="@{/images/weChat.jpg}" style="width: 120px;" alt="" class="ui rounded boarded image">
                                <div class="center aligned">微信</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="ui attached positive message">
                <!--博客信息-->
                <div class="ui middle grid">
                    <div class="eleven wide column">
                        <ul class="list">
                            <li>作者：<span th:text="${blog.user.nickName}">千千</span><a href="#" th:href="@{/about}" target="_blank">(联系作者)</a></li>
                            <li>发表时间：<span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd HH:mm')}">2021-3-11</span></li>
                            <li>版权声明：自由转载-非商用</li>
                            <li>公众号转载：请在文末添加作者公众号二维码</li>
                        </ul>
                    </div>
                    <div class="five wide column">
                        <img src="../static/images/weChat.jpg" th:src="@{/images/weChat.jpg}" alt="" class="ui right floated rounded bordered image" style="width: 120px;">
                    </div>
                </div>
            </div>

            <div class="ui bottom attached segment">
                <!--评论区域列表-->
                <div id="comment-container" class="ui teal segment">
                    <div th:fragment="commentList">
                        <div class="ui threaded comments" style="max-width: 100%;">
                            <h3 class="ui dividing header">评论</h3>
                            <div class="comment" th:each="comment : ${comments}">
                                <a class="avatar">
                                    <img src="https://picsum.photos/id/10/100/100" th:src="@{${comment.avatar}}">
                                </a>
                                <div class="content">
                                    <a class="author" th:text="${comment.nickName}">Matt</a>
                                    <div class="metadata">
                                        <span class="date" th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                    </div>
                                    <div class="text" th:text="${comment.content}">
                                        How artistic!
                                    </div>
                                    <div class="actions">
                                        <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickName}" onclick="reply(this)">回复</a>
                                    </div>
                                </div>
                                <!--子集评论-->
                                <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                                    <div class="comment" th:each="reply : ${comment.replyComments}">
                                        <a class="avatar">
                                            <img src="https://picsum.photos/id/10/100/100" th:src="@{${reply.avatar}}">
                                        </a>
                                        <div class="content">
                                            <a class="author" >
                                                <span th:text="${reply.nickName}">小红</span>
                                                &nbsp;<span th:text="|@ ${reply.parentComment.nickName}|" class="m-teal">@ 小白</span>
                                            </a>
                                            <div class="metadata">
                                                <span class="date" th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                                            </div>
                                            <div class="text" th:text="${reply.content}">
                                                How artistic!
                                            </div>
                                            <div class="actions">
                                                <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${reply.id},data-commentnickname=${reply.nickName}" onclick="reply(this)">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--发表自己评论-->
                <div id="comment-form" class="ui form" >
                    <input type="hidden" name="blog.id" th:value="${blog.id}">
                    <input type="hidden" name="parentComment.id" value="-1">
                    <div class="field">
                        <textarea name="content" placeholder="请输入评论信息..."></textarea>
                    </div>
                    <div class="fields">
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="nickName" placeholder="姓名" >
                            </div>
                        </div>
                        <div class="field m-mobile-wide m-margin-bottom-small">
                            <div class="ui left icon input">
                                <i class="mail icon"></i>
                                <input type="text" name="email" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="field  m-margin-bottom-small m-mobile-wide">
                            <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="me-padded-tb m-absolute m-fixed m-right-bottom">
        <div class="ui vertical icon buttons ">
            <button class="ui toc teal button">目录</button>
            <a href="#comment-container" class="ui teal button">留言</a>
            <button class="ui wechat icon button"><i class="weixin icon"></i></button>
            <a href="#" id="to-top-button" class="ui teal button"><i class="chevron up icon"></i></a>
        </div>
    </div>

    <div id="qrcode" class="ui wechat-qr flowing popup transition hidden" style="width: 130px!important;">
    </div>

    <div class="ui toc-container flowing popup transition hidden" style="width: 250px;">
        <ol class="js-toc">

        </ol>
    </div>

    <br>
    <br>
    <!--底部footer-->
    <footer th:replace="_fragments :: footer" class="ui inverted vertical segment me-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <img src="../static/images/weChat.jpg" th:src="@{/images/weChat.jpg}" alt="" class="ui rounded image" style="width: 100px;">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email: 1906711512@qq.com</a>
                        <a href="#" class="item">QQ: 1906711512</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <p class="item">这是我的个人博客</p>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin me-opacity-tiny">Copyright  ©  2016-2017 Qian Designed by Qian</p>
        </div>
    </footer>


<th:block th:replace="_fragments :: script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../static/lib/prism/prism.js"></script>
    <script src="../static/lib/qrcode/qrcode.min.js"></script>
    <script src="../static/lib/toc-bot/tocbot.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.3/jquery.scrollTo.min.js"></script>
</th:block>

    <script th:inline="javascript">
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.js-toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: '.js-toc-content',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1, h2, h3',
            // For headings inside relative or absolute positioned containers within content.
            hasInnerContainers: true,
        });
        $(".menu.toggle").click(function () {
            $(".nav-item").toggleAttribute("me-mobile-hide");
        });
        $("#payButton").popup({
            popup: $('.payQ.popup'),
            on: 'click',
            position: 'bottom center'
        });
        $(".toc.button").popup({
            popup: $('.toc-container.popup'),
            on: 'click',
            position: 'left center'
        });
        $(".wechat").popup({
            popup: $('.wechat-qr'),
            position: 'left center',
        });
        var serverURL = /*[[#{blog.serurl}]]*/"127.0.0.1:8080";
        var url = /*[[@{/blog/{id}(id=${blog.id})}]]*/"";
        var qrcode = new QRCode("qrcode", {
            text: serverURL + url,
            width: 110,
            height: 110,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
        $("#to-top-button").click(function () {
            $(window).scrollTo(0, 500);
        });
        //评论表单验证
        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'content',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入评论内容'
                    }
                    ]
                },
                content: {
                    identifier: 'nickName',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入你的大名'
                    }]
                },
                type: {
                    identifier: 'email',
                    rules: [{
                        type: 'email',
                        prompt: '请填写正确的邮箱地址'
                    }]
                }
            }
        });
        $(function () {
            $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"comments/6");
        });

        $('#commentpost-btn').click(function () {
            var boo = $('.ui.form').form('validate form');
            if (boo) {
                console.log('校验成功');
                postData();
            } else {
                console.log('校验失败');
            }
        });

        function postData() {
            $("#comment-container").load(/*[[@{/comments}]]*/"",{
                "parentComment.id" : $("[name='parentComment.id']").val(),
                "blog.id" : $("[name='blog.id']").val(),
                "nickName": $("[name='nickName']").val(),
                "email"   : $("[name='email']").val(),
                "content" : $("[name='content']").val()
            },function (responseTxt, statusTxt, xhr) {
                $(window).scrollTo($('#goto'),500);
                clearContent();
            });
        }

        function clearContent() {
            $("[name='nickName']").val('');
            $("[name='email']").val('');
            $("[name='content']").val('');
            $("[name='parentComment.id']").val(-1);
            $("[name='content']").attr("placeholder", "请输入评论信息...");
        }

        function reply(obj) {
            var commentId = $(obj).data('commentid');
            var commentNickname = $(obj).data('commentnickname');
            $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
            $("[name='parentComment.id']").val(commentId);
            $(window).scrollTo($('#comment-form'),500);
        }

    </script>
</body>
</html>